* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e2f4ff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon {
    width: 25px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav h3 {
    font-size: 22px;
}

nav h6 {
    font-size: 12px;
}

.card-container {
    max-width: 720px;
    margin: 20px auto;
    columns: 2;
}

.card {
    margin-bottom: 15px;
    border: 1px solid #398e3c;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(125, 125, 125, 0.3);
    background: #fff;
    height: 310px;
}

.card-title {
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    padding: 10px 15px;   
    font-size: 14px;
}

.card-body-item {
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.stats-logo {
    width: 35px;
}

.item-title {
    margin-left: 10px;
    font-size: 15px;
}

.item-value {
    font-size: 15px;
    margin-left: auto;
    margin-right: 15px;
}

.units {
    font-size: 0.8rem;
    margin-right: 10px;
}

.pressure-unit {
    font-size: 0.8rem;
}

.pressure-unit span{
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: auto;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e7493e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ecd73;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2ecd73;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media (max-width: 767px) {
    .card-container {
        columns: 1;
    }
  }